---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Not another &quot;BORING&quot; Company" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    We at KieeFirst is bla bla bla bla bla bla bla
    <span class="text-primary">modern</span> bla.
    <span class="text-primary">Majestic</span>
    performance meets <span class="text-primary">powerful</span> bla bla.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://wa.link/g8ang3"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <iconify-icon icon="ant-design:whats-app-outlined"></iconify-icon>
      <span>Sammy</span>
    </a>
    <a
      href="mailto:CEO@kieefirst.com"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <iconify-icon icon="clarity:email-solid"></iconify-icon>
      <span>CEO@kieefirst.com</span>
    </a>
  </div>
</ContentSection>
